
        .body-initial {
            background-color: rgba(255,255,255,1); 
            background-image: url('../assets/Universidad%20de%20Oviedo.jpg'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-attachment: scroll; 
            background-position: top left; 
        }
        .silex-id-1478370149689-19 {
            min-height: 47px; 
            top: 0px; 
            left: 0px; 
            background-color: rgba(255,218,192,1); 
            opacity: 0.5; 
        }
        .silex-id-1478370149689-18 {
            min-height: 47px; 
            background-color: transparent; 
            top: 0px; 
            left: 473px; 
            width: 960px; 
        }
        .silex-id-1478370181591-21 {
            min-height: 92px; 
            width: 478px; 
            top: -7px; 
            left: 220px; 
        }
        .silex-id-1478378994068-37 {
            min-height: 274px; 
            width: 423px; 
            top: 136px; 
            left: 376px; 
            background-color: transparent; 
            opacity: 0.5; 
        }
    